.app-container {
    min-height: 350px;
}

.container-full{
    width: 100%;
    overflow: scroll;

}
html {
    width: 100%;
}

.fit-card{
    width: 80%;
}

.container-centered{
    display: flex;
    justify-content: center;
    align-items: center;
}

.extend-card{
    width: 100%;
}